<%# Toast Container - provides toast notification functionality -%>
<%
  position ||= "top-right"
  duration ||= 5000

  position_classes = {
    "top-right" => "fixed top-4 right-4",
    "top-left" => "fixed top-4 left-4",
    "bottom-right" => "fixed bottom-4 right-4",
    "bottom-left" => "fixed bottom-4 left-4",
    "top-center" => "fixed top-4 left-1/2 -translate-x-1/2",
    "bottom-center" => "fixed bottom-4 left-1/2 -translate-x-1/2"
  }
%>

<div id="toast-container"
     data-controller="toast"
     data-toast-target="container"
     data-toast-position-value="<%= position %>"
     data-toast-duration-value="<%= duration %>"
     class="<%= position_classes[position] || position_classes['top-right'] %> z-[120] flex flex-col gap-2 pointer-events-none">
</div>
